// set colors
$blue-light: #8fb2f5;
$gray-900: #13131a;
$gray-800: #16161f;
$gray-700: #1c1c27;
$gray-600: #22222f;
$gray-500: #3b3b54;
$gray-400: #7f7f98;
$gray-300: #ababc4;
$gray-200: #bfbfd4;
$gray-100: #fafafa;
$white: #ffffff;


// set border-radius
$radius-8: 8px;
$radius-12: 12px;
$radius-pill: 500px;
$radius-circle: 50%;


// set font-weight
$regular: 400;
$bold: 700;
$extraBold: 800;


// transition
$transition-short: 300ms ease;


// set font-size
$heading-hg: 86px;
$heading-xl: 54px;
$heading-lg: 32px;
$heading-md: 20px;
$heading-sm: 16px;
$heading-xs: 14px;
$text-lg: 20px;
$text-md: 16px;
$text-sm: 14px;
$text-xs: 12px;